@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-surface-hover: #f1f5f9;

  --color-primary-text: #0f172a;
  --color-secondary: #64748b;
  --color-muted: #94a3b8;

  --color-border: #e2e8f0;

  --color-primary: #2563eb;
  --color-success: #16a34a;
  --color-danger: #dc2626;
}

html {
  background-color: var(--color-background);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary-text);
}
